<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <!-- <title>Visor de Documentos</title> -->

    <!-- CSS  -->
    <link href="static/css/docs/doc.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/docs/print.css" type="text/css" rel="stylesheet" media="print"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>

    <div class="cuerpo">
        <div id="visor">
            
            <div class="plan">
                <p><b>Cuenta:</b> <span>162</span></p>
                <p><b>Tipo de plan:</b> <span>Renta</span></p>
                <p><b>Cuota Mensual:</b> <span>$489</span></p>
            </div>

            <div class="pagina1">
            
                <p>
                    CONTRATO DE PRESTACIÓN DEL SERVICIO DE MONITOREO QUE CELEBRAN, POR UNA PARTE, COMO USUARIO DEL SERVICIO A: 
                    <span><b>{{name.name}}</b></span> 
                    EN LO SUCESIVO SE LE DENOMINARA COMO EL “CLIENTE”. Y POR LA OTRA PARTE COMO PRESTADOR DEL SERVICIO
                    DENOMINADO AGS TECNOLOGIA Y SEGURIDAD PRIVADA S.A.S DE C.V., REPRESENTADA EN ESTE ACTO POR EL C. ALBERTO GORDILLO GORDILLO, EN
                    SU CARÁCTER DE APODERADO LEGAL Y A QUIEN EN LO SUCESIVO SE LE DENOMINARÁ “LA EMPRESA”, Y CUANDO SE REFIERAN A AMBOS 
                    CONTRATANTES SE LES DENOMINARÁ “LAS PARTES”, AL TENOR DE LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS:
                </p>
    
                <h3 class="dec-center">DECLARACIONES</h3>
                <p><b>I.- DECLARA “LA EMPRESA”</b></p>
                <p><b>A).-</b>SER UNA PERSONA MORAL CONSTITUIDA CONFORME A LAS LEYES MEXICANAS, MEDIANTE FOLIO DE CONSTITUCIÓN NÚMERO SAS-1.2-202003-292932, DE FECHA 23 DE MARZO DE 2020, CON DOMICILIO  UBICADO EN LA CALLE 5 DE FEBRERO NÚMERO 19, BARRIO LA MERCED DE LA CIUDAD DE SAN CRISTÓBAL  DE LAS CASAS, CHIAPAS, C.P. 29240; TENIENDO COMO OBJETO SOCIAL ENTRE OTROS EL SERVICIO DE PROTECCIÓN Y CUSTODIA MEDIANTE EL MONITOREO DE SISTEMAS DE SEGURIDAD, REPRESENTADA EN ESTE ACTO POR EL C. ALBERTO GORDILLO GORDILLO, EN SU CARÁCTER DE ADMINSITRADOR CONFORME  A LO DISPUESTO POR LOS PÁRRAFOS PRIMERO, SEGUNDO Y TERCERO DEL  ARTICULO 267 DE LA LEY GENERAL DE SOCIEDADES MERCANTILES, QUIEN CUENTA ENTRE OTRAS FACULTADES COMO LAS DE CELEBRAR CONTRATOS PRIVADOS, COMO EN EL PRESENTE CASO, SEGÚN EL INCISO B) DE LA CLÁUSULA OCTAVA DEL ACTA CONSTITUTIVA DE FOLIO ANTES MENCIONADO, ESTANDO EN PLENO USO DE SUS FACULTADES MENTALES.</p>
                <p><b>B).-</b>QUE CUENTA CON LA INFRAESTRUCTURA, PERSONAL CON CAPACIDAD Y PREPARACIÓN PARA LA PRESTACIÓN DEL SERVICIO OBJETO DE ESTE CONTRATO, ASÍ COMO CON LOS EQUIPOS SUFICIENTES PARA EL CUMPLIMIENTO DEL FIN DE ESTE PACTO DE VOLUNTADES.</p>                
                <p><b>C).-</b>QUE SE ENCUENTRA REGISTRADA ANTE LA SECRETARIA DE HACIENDA Y CREDITO PÚBLICO COMO PERSONA MORAL Y QUE OFRECE SERVICIOS DE PROTECCIÓN Y CUSTODIA MEDIANTE EL MONITOREO DE SISTEMAS DE SEGURIDAD, INSCRITO ANTE LAS AUTORIDADES CORRESPONDIENTES COMPETENTES Y DE LAS QUE HA OBTENIDO LOS PERMISOS, LICENCIAS Y DOCUMENTACIÓN QUE SEA NECESARIA PARA REALIZAR LA ACTIVIDAD QUE SE CONTRATA.</p>
                
                <p><b>II.- DECLARA “EL CLIENTE”</b></p>
                <p><b>A.-</b>QUE ES UNA PERSONA FISICA DE NACIONALIDAD MEXICANA, CON PLENO USO Y GOCE DE SUS FACULTADES Y DERECHOS, CON LA CAPACIDAD JURIDICA NECESARIA PARA CELEBRAR EL PRESENTE CONTRATO.</p>
                <p><b>B.-</b>QUE TIENE SU DOMICILIO EN 
                    <span><b>AVENIDA HACIENDA #7 COLONIA 14 DE SEPTIEMBRE, SAN CRISTÓBAL DE LAS CASAS CHIAPAS</b></span>.
                </p>
                <p><b>C.-</b>QUE ES SU VOLUNTAD CONTRATAR LOS SERVICIOS QUE REALIZA “LA EMPRESA” CONSISTENTES EN EL SERVICIO DE MONITOREO DE EQUIPOS DE ALARMA.</p>
                <p><b>D)-</b>QUE CONOCE Y COMPRENDE EL CONTENIDO, NATURALEZA Y ALCANCE LEGAL  DE ESTE CONTRATO Y QUE EL MISMO SE CELEBRA DE CONFORMIDAD A LA LEGISLACIÓN CIVÍL APLICABLE Y POR LO TANTO SUJETA SU COMPROMISO A LA FORMA, TERMINOS Y CONDICIONES QUE SE ESTABLECEN EN LAS SIGUIENTES:</p>
                
                <h3 class="dec-center">CLAUSULAS</h3>
                <p><b>PRIMERA.- “LAS PARTES”</b> CONTRATANTES RECONOCEN SU CAPACIDAD Y PERSONALIDAD CON LA QUE COMPARECEN A LA CELEBRACIÓN DEL PRESENTE INSTRUMENTO.</p>
                <p><b>SEGUNDA. -</b> 
                    EL PRESENTE CONTRATO TENDRÁ UNA VIGENCIA DE <span>1</span> AÑO A PARTIR DEL DIA <span>27 DE OCTUBRE DEL 2020</span> AL <span>27 DE OCTUBRE DEL 2021</span>. 
                    Y SERÁ OBLIGATORIO PARA AMBAS PARTES EN EL PERIODO CORRESPONDIENTE. SIN EMBARGO, <b>“LA EMPRESA”</b> PODRÁ DARLO POR RESCINDIDO SIN QUE PARA ELLA EXISTA RESPONSABILIDAD ALGUNA, EN LOS CASOS DE INCUMPLIMIENTO POR PARTE DE <b>“EL CLIENTE”</b>. 
                    <ins><b><i>DESPUÉS DEL TERMINO DEL PRESENTE CONTRATO EL CLIENTE CUENTA CON  05 DIAS HABILES PARA HACER LA CANCELACIÓN DEL PRESENTE, EN CASO CONTRARIO  SE RENUEVA AUTOMATICAMENTE POR TIEMPO INDEFINIDO</i></b></ins>. ASÍ MISMO PODRÁ DAR POR TERMINADO EL PRESENTE CONTRATO SIEMPRE Y CUANDO EL “CLIENTE” PAGUE LOS MESES RESTANTES A LA CANCELACIÓN.
                </p>
            
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
            <div class="pagina2">
            
                <p><b>TERCERA. -</b>“LA EMPRESA” SE OBLIGA A PRESTAR “AL CLIENTE” LOS SERVICIOS DE MONITOREO DEL EQUIPO DE ALARMA INSTALADO EN PLAN RENTA EXCLUSIVAMENTE EN EL DOMICILIO SEÑALADO POR EL CLIENTE EN LAS DECLARACIONES, SIENDO DICHO EQUIPO PROPIEDAD TOTALMENTE DE LA EMPRESA. EQUIPO QUE CUENTA CON LAS CARACTERÍSTICAS SIGUIENTES: (EQUIPO DE ALARMA MARCA CROW MÁS CUATRO SENSORES).</p>
                <p><b>CUARTA. -</b>“LA EMPRESA” SE COMPROMETE A BRINDAR LOS SERVICIOS DE MONITOREO DEL SISTEMA DE SEGURIDAD (ALARMA) LAS 24 HORAS DEL DIA DURANTE LOS 365 DIAS DEL AÑO, SIEMPRE Y CUANDO “EL CLIENTE” SE ENCUENTRE AL CORRIENTE EN TODOS SUS PAGOS DEL SERVICIO DE MONITOREO.</p>
                <p><b>QUINTA. -</b>“LA EMPRESA” BRINDARA EL SERVICIO DE MONITOREO DE ALARMA CONSISTENTE EN: NOTIFICACIÓN EN CASO DE ALGUNA EMERGENCIA A LAS PERSONAS QUE  “EL CLIENTE” HAYA CITADO EN LA CÉDULA DE INSCRIPCIÓN, TALES COMO: PROPIETARIOS, FAMILIARES, Y AMIGOS DE CONFIANZA. APLICAR EL PROCEDIMIENTO DE AUXILIO NOTIFICANDO A LAS AUTORIDADES CORRESPONDIENTES TALES COMO: POLICIA, BOMBEROS, CRUZ ROJA, ETC. SEGÚN LA NATURALEZA DE LA EMERGENCIA. ENVIO DE PERSONAL DE “LA EMPRESA” PARA SUPERVISAR EL DOMICILIO DE “EL CLIENTE”, SIEMPRE Y CUANDO EL DOMICILIO DEL CLIENTE SEA EN LA MISMA LOCALIDAD QUE EL DE LA EMPRESA.</p>
                <p><b>SEXTA. -</b>“EL CLIENTE” SE COMPROMETE A PAGAR POR EL SERVICIO DE MONITOREO DEL EQUIPO DE SEGURIDAD LA CANTIDAD DE <b><ins><i>$489.00 (CUATROCIENTOS OCHENTA Y NUEVE PESOS 00/100 M.N.)</i></ins></b> MENSUALES. LOS CUALES DEBERÁN SER CUBIERTOS EN LOS PRIMEROS CINCO DÍAS NATURALES DE CADA MES, TENIENDO FECHA LIMITE DE PAGO PARA EVITAR EL CORTE DEL SERVICIO EL DIA: 08 DE CADA MES. “EL CLIENTE”DEBERÁ CUBRIR EL PAGO DE MONITOREO EN SU TOTALIDAD AÚN EN EL CASO DE QUE EL SERVICIO DE MONITOREO DEL EQUIPO DE SEGURIDAD (ALARMA) SE INICIARA EN FECHAS MEDIAS O TERMINALES DEL MES.</p>
                <p><b>SÉPTIMA. -</b>EL COSTO DEL SERVICIO DE MONITOREO DE NINGUNA MANERA CONSTITUYE UN SEGURO DE VIDA, NI UN SEGURO POR PERDIDA DE BIENES DE MUEBLES E INMUEBLES, POR INCENDIO E INUNDACIONES, TORNADO Y CUALQUIER OTRO TIPO DE DESASTRE PRODUCIDO POR LA NATURALEZA U OCASIONADO POR UNA PERSONA FISICA O MORAL. “LA EMPRESA” NO SE HACE RESPONSABLE DE LAS PÉRDIDAS MATERIALES NI HUMANAS QUE “EL CLIENTE” PUDIERA SUFRIR, “LA EMPRESA” UNICAMENTE SE COMPROMETE A PROPORCIONAR LOS SERVICIOS DE MONITOREO DEL EQUIPO DE SEGURIDAD (ALARMA) Y “EL CLIENTE” ACEPTA DESDE ESTE MOMENTO QUE EL EQUIPO DE ALARMA INSTALADO ACTÚA ÚNICA Y EXCLUSIVAMENTE COMO UN ELEMENTO PREVENTIVO EN CASO DE ROBO, MINIMIZANDO MAS NO EXTINGUIENDO EL RIESGO QUE ÉSTE PUDIERA SUFRIR.</p>
                <p><b>OCTAVA.-</b>“EL CLIENTE, EN CASO DE NO PAGAR LAS MENSUALIDADES DEL SERVICIO DE MONITOREO DEL EQUIPO DE SEGURIDAD (ALARMA), SE HARÁ ACREEDOR A RECARGOS DEL 7% MENSUAL SOBRE EL MONTO TOTAL DE LO ADEUDADO Y CONSECUENTEMENTE SE REALIZARÁ EL CORTE DEL SERVICIO DE MONITOREO, SIN RESPONSABILIDAD PARA “LA EMPRESA” EN CASO DE ROBO EN EL DOMICILIO MONITOREADO, A PARTIR DEL CUARTO MES DE ADEUDO, SU CUENTA SERÁ ENVIADA AL DEPARTAMENTO JURIDICO PARA LA RESOLUCIÓN,  TENIENDO QUE CUBRIR EL PAGO DE RECONEXIÓN DEL SERVICIO POR LA CANTIDAD DE $150.00 CIENTO CINCUENTA PESOS 00/100 M.N) DE LA MISMA FORMA PAGARA LA CANTIDAD DE $ 150.00 (CIENTO CINCUENTA PESOS 00/100MN) POR PENALIZACIÓN POR CADA FALSA  ALARMA A TRAVES DEL BOTON DE PANICO. (SI ES QUE CONTARA CON ESTE SERVICIO)</p>
                <p><b>NOVENA.-</b>“EL CLIENTE” SE COMPROMETE A HACER BUEN USO DEL SISTEMA DE SEGURIDAD (ALARMA), ASI MISMO A REALIZAR PRUEBAS PERIODICAS DE ENLACE A NUESTRA CENTRAL DE MONITOREO PARA EL BUEN FUNCIONAMIENTO DEL SISTEMA ANTES MENCIONADO.</p>
                <p><b>DÉCIMA.-</b>“EL CLIENTE” SE COMPROMETE A NOTIFICAR A “LA EMPRESA” EN DIAS Y HORARIOS DE SERVICIO (DE LUNES A DOMINGO DE 9 a.m. A 5 p.m.), TODOS LOS CAMBIOS RESPECTO DE LOS DATOS CONTENIDOS EN EL FORMATO DE INSCRIPCIÓN TALES COMO: USUARIOS DEL SISTEMA, NUMEROS TELEFÓNICOS, CONTACTOS EN CASO DE EMERGENCIA, HORARIOS DE ENTRADA Y SALIDA, ETC. PARA MANTENER ACTUALIZADA LA BASE DE DATOS DE LA CENTRAL DE MONITOREO, EN CASO DE NO HACERLO “EL CLIENTE” DESLINDA A “LA EMPRESA” DE TODO TIPO DE RESPONSABILIDAD EN CASO DE ROBO.</p>
                <p><b>DÉCIMA PRIMERA.-</b>“EL CLIENTE” ENTIENDE QUE LA COMUNICACIÓN DEL EQUIPO DE ALARMA SE ESTABLECE MEDIANTE LA LINEA TELEFÓNICA,  POR LO QUE SE COMPROMETE A PAGAR PUNTUALMENTE EL SERVICIO DE ESTA CON LA EMPRESA QUE HAYA CONTRATADO Y  A SU VEZ PUEDAN DARSE LOS ENLACES DEL SISTEMA DE SEGURIDAD (ALARMA) Y SER MONITOREADO CORRECTAMENTE SIN NINGÚN PROBLEMA, SIN RESPONSABILIDAD PARA “LA EMPRESA” EN CASO DE QUE “EL CLIENTE” NO CUENTE CON EL SERVICIO DE TELEFÓNIA EN SU DOMICILIO POR FALTA DE PAGO O POR CUALQUIER OTRO MOTIVO QUE IMPIDA LA PRESTACION DEL SERVICIO OBJETO DE ESTE CONTRATO.</p>
            
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>

            
            <div class="pagina3">
            
                <p><b>DÉCIMA SEGUNDA. -</b>EN CASO DE QUE EL “CLIENTE” POR ALGUNA RAZÓN DESEE CANCELAR EL SERVICIO DESPUÉS DEL PLAZO DE 12 MESES (FORZOSO), PODRÁ HACERLO SIN PENALIZACIÓN, SIN EMBARGO, PARA QUE LA EMPRESA PUEDA DAR POR TERMINADA LA RELACIÓN COMERCIAL EL “CLIENTE” DEBERÁ EVITAR ADEUDO ALGUNO EN EL SERVICIO DE MONITOREO. ASÍ MISMO EL “CLIENTE” DEBERÁ SOLICITAR LA BAJA DEL MISMO AL CORREO <a href="mailto:"><ins>gerencia@seguridadactiva.com.mx</ins></a>. </p>
                <p><b>DÉCIMA TERCERA. -</b>EL “CLIENTE” SE OBLIGA A INFORMAR A LA “EMPRESA” CUALQUIER CAMBIO DE PROPIETARIO, DE NO SER ASÍ, LA EMPRESA NO SE HACE RESPONSABLE POR CUALQUIER EVENTO QUE SUCEDA; ASÍ TAMBIÉN NECESITA ESTAR AL CORRIENTE CON EL PAGO DE SU MENSUALIDAD.</p>
                <p><b>DÉCIMA CUARTA. -</b>“LA EMPRESA” SE COMPROMETE A DAR MANTENIMIENTO PREVENTIVO Y/O CORRECTIVO AL EQUIPO DE SEGURIDAD (ALARMA) 1 VEZ AL AÑO, SIN QUE POR ESTO “EL CLIENTE” TENGA QUE PAGAR CANTIDAD ALGUNA ADICIONAL AL PAGO DE MONITOREO MENSUAL, SI EL DOMICILIO DEL CLIENTE SE ENCUENTRA EN UNO DISTINTO DE LA “EMPRESA” EL “CLIENTE” DEBERÁ CUBRIR LOS VIATICOS PARA PODER REALIZAR DICHO SERVICIO. EL SERVICIO INCLUYE: 1 – LIMPIEZA DE EQUIPOS Y SENSORES, 2 – AJUSTE DE PROGRAMACIÓN, Y, 3 – REVISIÓN Y AJUSTE DE SENSORES.</p>
                <p><b>DÉCIMA QUINTA. -</b>“EL CLIENTE” SE COMPROMETE A NO INTERVENIR, ABRIR O REPARAR EL EQUIPO DE SEGURIDAD (ALARMA) A TRAVÉS DE PERSONAS DISTINTAS A “LA EMPRESA” YA QUE LOS DISPOSITIVOS Y CIRCUITOS DEL PANEL DE CONTROL PODRÍA SUFRIR DAÑOS IRREPARABLES.</p>
                <p><b>DÉCIMA SEXTA. -</b>“LA EMPRESA” SE COMPROMETE A PRESTAR A “EL CLIENTE” LOS SERVICIOS DE ASESORÍA DE MANERA PRONTA Y EFECTIVA A TRAVÉS DE LA VÍA TELEFÓNICA (967-134-20-30) (967-63-177-95) O PERSONALMENTE CUANDO SE REQUIERA. ASÍ MISMO CUANDO “EL CLIENTE” SOLICITE EL CAMBIO DE CLAVES DE USUARIO, DEBERÁ HACERLO MEDIANTE ESCRITO DIRIGIDO AL DEPARTAMENTO DE SOPORTE TÉCNICO, AL CORREO <a href="mailto:"><ins>gerencia@seguridadactiva.com.mx</ins></a>, QUIEN A LA BREVEDAD DARÁ INSTRUCCIONES PARA SOLUCIONAR SU PETICIÓN Y ASÍ REALIZAR LOS CAMBIOS DE CLAVES CORRESPONDIENTES EN EL EQUIPO DE ALARMA.</p>
                <p><b>DÉCIMA SÉPTIMA. -</b>EL SERVICIO DE MONITOREO PODRÁ SUSPENDERSE SIN QUE PARA ELLO EXISTA RESPONSABILIDAD POR PARTE DE “LA EMPRESA” EN LOS CASOS DE: ADEUDO EN SU MENSUALIDAD.</p>
                <p>DESASTRES NATURALES COMO TERREMOTOS, INCENDIOS, INUNDACIÓN; INSURRECIÓN O GUERRA; U OTROS FACTORES O SUCESOS FUERA DEL CONTROL HUMANO QUE IMPIDIERAN LLEVAR A CABO, CON EFECTIVIDAD, LOS SERVICIOS DE MONITOREO. UNA VEZ DESAPARECIDO EL FENÓMENO O FACTOR QUE HUBIERA OCASIONADO LA SUSPENSIÓN DEL SERVICIO, “LA EMPRESA” NUEVAMENTE RESTABLECERÁ EL MISMO”.</p>
                <p><b>DÉCIMA OCTAVA.-</b>PARA LA INTERPRETACIÓN DEL PRESENTE CONTRATO LAS PARTES SE SOMETEN EXPRESAMENTE A LAS DISPOSICIONES CONTENIDAS EN LAS CLÁUSULAS DEL MISMO Y EN EL CASO DE LO NO PREVISTO, SE APLIQUE LOS DISPUESTO POR EL CODIGO CIVIL DEL ESTADO DE CHIAPAS Y QUE DE SUSCITARSE  CONTROVERISA O CONFLICTO SOBRE LA  INTERPRETACIÓN, APLICACIÓN Y ALCANCES DE ESTE CONTRATO, SE SOMETEN A LA JURISDICCIÓN Y TUTELA DE LOS TRIBUNALES DEL FUERO COMUN DEL DISTRITO JUDICIAL DE LA CIUDAD DE SAN CRISTÓBAL DE LAS CASAS, CHIAPAS, RENUNCIANDO A CUALQUIER OTRO FUERO QUE LES PUDIERE CORRESPONDER EN RAZÓN DE SU DOMICILIO PRESENTE O FUTURO.</p>
                <p><b>DÉCIMA NOVENA. -</b>MANIFIESTAN “LAS PARTES” QUE EN LA CELEBRACIÓN DEL PRESENTE CONTRATO NO MEDIO DOLO, MALA FE, ERROR, VIOLENCIA FISICA O MORAL, NI NINGUN OTRO VICIO DEL CONSENTIMIENTO QUE LO PUEDA INVALIDAR.</p>
                <p><b></b>LEIDO QUE FUE EL PRESENTE CONTRATO, “LAS PARTES” LO FIRMAN DE COMUN ACUERDO AL MARGEN Y AL CALCE PARA CONSTANCIA, CONOCIENDO EL ALCANCE Y LA FUERZA LEGAL DEL CONTENIDO DE TODAS Y CADA UNA DE SUS CLÁUSULAS EN  DOS EJEMPLARES, QUEDANDO UN TANTO PARA CADA UNO DE ELLOS, 
                    <b>EN LA CIUDAD DE <span>SAN CRISTÓBAL DE LAS CASAS CHIAPAS</span> A LOS <span>27</span> DIAS DEL MES DE <span>OCTUBRE</span> DEL <span>DOS MIL VEINTE</span></b>.</p>
    
                    <div class="firma-empresa">
                        <p>
                            
                                        <b>“LA EMPRESA”</b><br><br>					        
                         
                        _________________________________	<br>               	                    
                            <b>C. ALBERTO GORDILLO GORDILLO.</b><br>		     	                        
                                            AGS TECNOLOGIA <br>			                                              
                                         RFC: GOGA720130NC2 <br>
                        
                        </p>
                    </div>

                    <div class="firma-empleado">
                        <p>
                                    <b>“EL CLIENTE”</b><br><br>
            
                            ____________________________________________ <br>
                                    <b>C. ISAIAS DIAZ JIMENEZ.</b><br>
            
                        </p>
                    </div>
                
            </div>
            <br>

        </div>
    </div>
  </body>
</html>
