{% extends 'estructura.html' %} 
{% block header %}

<div class="container center">
    <div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-2">Plan Renta</h3>
        </div>
        <div class="card-body">
            <form class="row g-3" method="POST" action="{{url_for('save_data_renta')}}">
                <div class="col-md-6">
                    <label for="inputNumber" class="form-label">Cuenta</label>
                    <input type="number" class="form-control" id="cuenta"  name="cuenta" placeholder="Cuenta"> 
                </div>
                <div class="col-md-6">
                    <label for="inputNumber" class="form-label">Cuota Mensual</label>
                    <input type="number" class="form-control" id="cuotamensual" name="cuotamensual" placeholder="Cuota">
                </div>
                <div class="col-12">
                    <label for="inputName" class="form-label">Nombre del Cliente</label>
                    <input type="text" class="form-control" id="nombrecliente" name="nombrecliente"  placeholder="Cliente">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" name="domicilio" placeholder="Domicilio">
                </div>
                <div class="col-md-6">
                    <label for="Date" class="form-label">Fecha</label>
                    <input type="Date" class="form-control" id="fecha" name="fecha">
                </div>
                <div class="col-md-6">
                    <label for="inputPerson" class="form-label">Es una persona</label>
                    <select id="persona" name="persona" type="select"  class="form-select">
                    <option selected>Fisica</option>
                    <option>Moral</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Ciudad</label>
                    <input type="state" class="form-control" id=" ciudad" name=" ciudad" placeholder="Ciudad">
                </div>

                <div class="col-md-6">
                    <label for="inputMoney" class="form-label">Precio</label>
                    <input type="money" class="form-control" id="precio" name="precio" placeholder="Costo total">
                </div>
                
                <div class="col-md-12">
                    <label for="inputEquipos" class="form-label">Equipos</label>
                    <input type="text" class="form-control" id="equipos" name="equipos"  placeholder="Equipos que se llevaran">
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-outline-secondary border-2 border_tem"><b><i>Agregar Registro</i></b></button>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary"><a href="{{ url_for('docRenta')}}" style="color:white;"> Siguiente </a></button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
