<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!-- <title>Visor de Documentos</title> -->

    <!-- CSS  -->
    <link href="static/css/docs/doc.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/docs/print.css" type="text/css" rel="stylesheet" media="print"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="botones">
      <input type='button' value='Imprimir' onClick='window.print()'; class='noimp'>
    </div>
    <div class="cuerpo">
      <div id="visor">            
            <img class="logo" src="/static/assets/img/logo.png">
                <br>
                <div class="plan">
                  <pre><b>Recibo N°:</b>162</pre>
                </div>
                <br>
                <pre><span>Lugar y fecha de expedicion</span></pre>
                <pre><b>En la ciudad de: </b><ins>San Cristobal De Las Casas, Chiapas a <span>2020-06-01</span></ins></pre>
                <pre><span>Nombre Completo de Quien Entrega</span></pre>
                <pre><b>Recibi de: </b><ins>Moises Cervantes</ins></pre>
                <pre><b>Numero de Telefono del Cliente: </b><ins>9321114567</ins></pre>
                <pre><span>Monto Entregado</span></pre>
                <pre><b>La cantidad de: </b>$<ins>1,000.00</ins></pre>
                <pre><span>Cantidad en Letra</span></pre>
                <pre><ins><b>Mil Pesos 00/100 M.N</b></ins></pre>
                <pre><span>Concepto</span></pre>
                <pre><b>Por concepto de: </b><ins>Anticipo pantalla para laptop</ins></pre>
                <pre><b>Quien Entrega de:</b>______________________ <b>Quien Recibe:</b>______________________</pre>
                <pre><b>                                     Moises Cervantes                                         Carlos Solis</b></pre>
                <br>
                <p style="text-align: center;"><b>CALLE 5 DE MAYO 10-A, CENTRO HISTÓRICO SAN CRISTOBAL DE LAS CASAS CHIAPAS</b></p>
                <p style="text-align: center;"><b>967 631 7795</b></p>
                <p style="text-align: center;"><b><a href="mailto:">agstecnologia@aoutloo</a></b></p>
        </div>
    </div>
  </body>
</html>
